.loader-overlay{

    position: fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(99, 100, 102, 0.562);

    backdrop-filter:blur(2px);

    z-index:99999;

}