<div class="topbar dark:text-blue-400">

    <div class="left">

        <p-button
            icon="pi pi-bars"
            severity="secondary"
            size="large"
            text="true"
             (onClick)="layout.toggleSidebar()"
            >
            
        </p-button>

        <h3 >{{menu_labels.DASHBOARD}}</h3>

    </div>

    <div class="right">
        <p-toggleswitch
        (onChange)="toggleThemeMode()"
        >
        </p-toggleswitch>
       
        <p-button
            icon="pi pi-bell"
            severity="secondary"
            size="large"
            text="true">
        </p-button>
          <p-menu 
          #menu
       [popup]="true"
       [model]="items"
       
       />
        <p-button 
        severity="contrast"
        [outlined]="true"
        (onClick)="menu.toggle($event)"
        size="small"
        class="flex flex-row gap-3">
        <p-avatar
            icon="pi pi-user"
            shape="circle"
            size="normal"
            [label]="currentUser()?.lastname?.slice(0,1)?.concat(currentUser()?.firstname?.slice(0,1)!)"
            >
        </p-avatar>

        <span class="text-gray-600 dark:text-zinc-200" >
            {{currentUser()?.firstname}}

            {{currentUser()?.lastname}}
        </span>
</p-button>
    </div>

</div>