@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));
 /* dark mode configuration*/

/* Styles globaux */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #89b3f3;
    background-image: url("/images/bodybgimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #60686792;
    color: #222121;
  }
}
/* Reset */

* {
    box-sizing: border-box;
}
/* You can add global styles to this file, and also import other style files */
